{% extends 'base.html.twig' %}

{% block title %}Monopoly Game{% endblock %}

{% block body %}
    <h1>Bienvenue dans le jeu Monopoly</h1>
    <p>Le design pattern Singleton a été appliqué avec succès à la classe Banque.</p>

    <h1>Solde de la banque : {{ solde }}</h1>

{% endblock %}
